.nav {
    display: flex;
    background-color: rgb(75, 74, 74);
    height: 50px; 
    width: 1300px;
    margin: auto;
    padding: 20px;
}
.nav-title{
    color: white;
    margin: 0px;
    display:flex;
}
.nav-links{
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    color: white;
    display: flex;
    width: 1200px;
    margin: 20px;
}
.btn{
    background-color: rgb(9, 141, 202);
    color:white;
    border-color: black;
    box-shadow: 5px 5px 5px black;
    height: 35px;
    width: 100px;
    font-size: 20px;
}
ul li{
    margin: 20px;
    color: blanchedalmond;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
    opacity: 50%;
}
.active{
    opacity: 100%;
}
a link{
    color: white;
    opacity: 50%;
}
a:hover{
    opacity: 1;
}